/* Header underline text animation */
@keyframes ballMove {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(90px);
  }
  100% {
    transform: translateX(-100px);
  }
}

.header-underline-animation {
  position: relative;
  display: inline-block;
  padding-bottom: 0.5rem;
  text-align: center;
}

.header-underline-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px; /* Adjust width as needed */
  height: 0.25rem;
  background-color: #dd3513; /* Change color as needed */
  border-radius: 0.125rem; /* Adjust if needed */
  z-index: 1;
}

.header-underline-animation::before {
  content: "";
  position: absolute;
  top: 2;
  left: 50%;
  transform: translateX(-50%);
  width: 0.6rem; /* Ball width */
  height: 0.5rem; /* Ball height */
  background-color: #ffffff; /* Ball color */
  border-radius: 0.125rem;
  animation: ballMove 10s infinite ease-in-out;
  bottom: -0.5px; /* Position the ball on the underline */
  z-index: 2;
}




/* Styles.css */

/* Container for the animation */
.balls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden; /* Ensure balls don't overflow */
}

/* Style for each ball */
.ball {
  border-radius: 50%;
  position: absolute;
  background-color: rgb(241, 78, 78); /* Set all balls to the specified color */
  animation: moveUp 5s infinite ease-in-out; /* Animation properties */
}

/* Keyframes for the animation */
@keyframes moveUp {
  0% {
    transform: translateY(100vh); /* Start from the bottom of the viewport */
    opacity: 0;
  }
  50% {
    transform: translateY(-50%); /* Move to the middle of the viewport */
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh); /* Move to the top of the viewport */
    opacity: 0;
  }
}


/* home image animation */
@keyframes moveAroundLeft {
0% {
    transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
  50% {
    transform: rotate(60deg) translateX(200px) rotate(-60deg);
  }
  100% {
    transform: rotate(90deg) translateX(200px) rotate(90deg);
  }

}

.ballLeft {
  width: 20px; /* Adjust ball size */
  height: 20px;
  border-radius: 50%;
  background-color: rgb(211, 11, 11); /* Ball color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveAroundLeft 10s infinite linear; /* Adjust duration as needed */
}

@keyframes moveAroundRight {
0% {
    transform: rotate(180deg) translateX(240px) rotate(180deg);
  }
  50% {
    transform: rotate(230deg) translateX(240px) rotate(230deg);
  }
  100% {
    transform: rotate(270deg) translateX(240px) rotate(270deg);
  }

}

.ballRight {
  width: 20px; /* Adjust ball size */
  height: 20px;
  border-radius: 50%;
  background-color: rgb(213, 20, 20); /* Ball color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveAroundRight 10s infinite linear; /* Adjust duration as needed */
}



